body, label, div, p, input, select, span {
	font-family: 'Helvetica Neue', Arial, sans-serif;

}

label {
	display: block;
	margin-top: 5px;
  text-transform: capitalize;
}

.error {
	color: red;
}

body {
	margin: 20px;
  padding-top: 0px;
  background-color: rgb(81, 81, 81); /*  #F8F5FA; */
}

ul {
  list-style-type: none;
  margin-left: 0px;
}

li {
  margin-bottom: 10px;
  list-style-type: none;
}

input.search {
  width: 100px;
}

.head {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  padding-top: 10px;
  padding: 10px;
  margin-bottom: 15px;
}

.navleft {
  border: 1px solid black;
  padding: 20px;
  padding-left: 10px;
  margin-top: 0px;
  text-align: left;
}

.twit {
  height: 425px;
}


.upcoming {
  border: 1px solid black;
  padding: 10px;
  height: 400px;
}

#mainctl {
  margin-top: 0px;
}

.feeds {
  height: auto;
  padding: 15px;
}

.onepane {
  height: 300px;
}

.high1 {
  background-color: rgb(51, 51, 51);
  color: rgb(207, 207, 207);
  border-radius: 5px;
  moz-border-radius: 5px;
  webkit-border-radius: 5px;
  padding: 15px;
  border: 1px solid black;
}

.padhead {
}

.sep0 {
  display: none;
}

.doneloading {
  display: none;
}

a, a:visited, a:active {
  color: rgb(135, 194, 237);
}

.nav-tabs .active a, .nav-tabs .active a:hover, .nav-tabs .active a:focus {
  background-color: rgb(51, 51, 51) !important;
  color: rgb(207, 207, 207)  !important;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: rgb(51, 51, 51) !important;
  color: rgb(207, 207, 207)  !important;
}

h2, h4 {
  color: rgb(207, 207, 207);
}

.up1 {
  margin-top: -10px;
}

li.project {
  display: inline-block;
  width: 210px;
  margin: 10px;
  padding: 10px;
  background-color: rgb(44, 44, 44);
  vertical-align: top;
  border: 1px solid black;
}

.cardtext {
  margin: 0px;
  margin-left: 10px;
  font-size: 10pt;
  color: rgb(200,200,200);
}

.synopsis {


}



li.project label {
  clear: both;
  display: inline-block;
  font-weight: bold;
  margin: 0px;
}

.attached {
  text-align: center;
  font-size: 9px;
  display: inline-block;
  margin: 1px;
  padding: 3px;
  border: 1px solid black;
  width: 55px;
}

select.filter {
  width: 150px;
  margin-left: 15px;
  height: 25px;
  background-color: rgb(60,60,60);
  color: rgb(150,150,150);
  font-size: 10pt;
  margin-right: 25px;
}

label.filter {
  display: inline-block;
}

.cent1 {
  padding-left: 50px;
}