<form name="projectForm" class="high1">
<h2>Add Title</h2>

  <div class="control-group" ng-class="{error: projectForm.title.$invalid}">
    <label>Title</label>
    <input type="text"  name="description" ng-model="project.title" required>
    <span ng-show="myForm.title.$error.required" class="help-inline">
        Required</span>
  </div>

  <div class="control-group" ng-class="{error: projectForm.writers.$invalid}">
    <div class="control-group">
      <label>Writers</label>
        <li ng-repeat="item in project.writers">{{item}}&nbsp;<a ng-click="delete($index)">x</a></li>
        <input type="text" name="writer" ng-model="project.writeradd" >
        <button ng-click="addWriter()" class="btn btn-primary up1">Add Writer</button>
      </div>
    <span ng-show="projectForm.writers.$error.required" class="help-inline">
        Required</span>
  </div>

  <label>Project Status</label>
  <select ng-model="project.status">
      <option ng-repeat="status in statuses" value="{{status}}">{{status}}</option>
  </select>

  <label>Opportunity Source</label>
  <input type="text" name="source" ng-model="project.source">

  <label>Cast</label>
    <li ng-repeat="item in project.cast">{{item}}&nbsp;<a ng-click="deleteCast($index)">x</a></li>
    <input type="text" name="cast" ng-model="project.castadd" >
    <button ng-click="addCast()" class="btn btn-primary up1">Add Cast Member</button>

  <label>Synopsis</label>
  <input type="text" name="synopsis" ng-model="project.synopsis">

  <label>Genre</label>
  <select ng-model="project.genre">
    <option ng-repeat="genre in genres" value="{{genre}}">{{genre}}</option>
  </select>

  <label>Budget</label>
  <input type="text" name="budget" ng-model="project.budget">

  <label>IMDB Link</label>
  <input type="text" name="imdb" ng-model="project.imdb">

  <br>
  <a href="#/" class="btn">Cancel</a>
  <button ng-click="save()" ng-disabled="isClean() || projectForm.$invalid"
          class="btn btn-primary">Save</button>
  <button ng-click="destroy()"
          ng-show="project._id" class="btn btn-danger">Delete</button>
</form>

</div>
