<div class="thirteen columns high1">
  <h4>Titles</h4>
  <label class="filter">Status:</label><select class="filter" ng-model="filterStatus" ng-options="status for status in statusesx" ng-change="filter()"><option ng-selected="selected"></option></select>

  <label class="filter">Source:</label><select class="filter" ng-model="filterSource" ng-options="src.name for src in sources" ng-change="filter()"><option ng-selected="selected"></option></select>

  <label class="filter">Genre:</label><select class="filter" ng-model="filterGenre" ng-options="genre for genre in genres" ng-change="filter()"><option ng-selected="selected"></option></select>

    <br>
  <li class="project" ng-repeat="project in projects">
    <h5>{{project.title}}</h5>
    <div class="part1"><label>Status:</label><span class="cardtext">{{project.status}}</span></div>
    <div class="part1"><label>Writers:</label><span class="cardtext">{{project.writers.join(', ')}}</span></div>
    <div class="part1"><label>Director:</label><span class="cardtext">{{project.director}}</span></div>
    <div class="part1"><label>Source:</label><span class="cardtext"> {{project.source}}</span></div>
    <div class="part1"><label>Cast:</label><span class="cardtext">{{project.cast.join(', ')}}</span></div>
    <div class="part1"><label>Synopsis:</label><span class="cardtext synopsis">{{project.synopsis}}</span></div>
    <div class="part1"><label>Genre:</label><span class="cardtext">{{project.genre}}</span></div>
    <div class="part1"><label>Budget:</label><span class="cardtext">{{project.budget}}</span></div>
    <div class="part1"><label><a href="{{project.imdb}}" target="_blank">IMDB</a></label></div>
    <div class="attached">Add/View<br>{{project.reviews.length}} Reviews</div>
    <div class="attached">Add/View<br>{{project.projections.length}} Projections</div>
    <div class="attached">Add/View<br>{{project.projections.length}} Files</div>
  </li>
</div>